@{
    ViewData["Title"] = "Add New Credit Card Product";
}

<div class="text-center">
    <h1 class="display-4">Add New Credit Card Product</h1>
    <p>Use this page to add new credit card products that customers can apply for.</p>
</div>
