@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Is Print Enabled: @ViewBag.IsPrintEnabled</p>
    <p>We have a wide range of Credit Card products to suit every occasion in a range of attractive designs.</p>
    <p>@ViewData["PrintMessage"]</p>
    <p>Session Id: @ViewBag.SessionId</p>
    <p>Is Admin: @ViewBag.IsAdmin</p>
</div>
