@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Is Print Enabled: @ViewBag.IsPrintEnabled</p>
    <p>We have a wide range of Credit Card products to suit every occasion in a range of attractive designs.</p>
    <p>@ViewData["PrintMessage"]</p>
    <p>@ViewBag.SessionId</p>
</div>
